{:paths ["src"]
 :deps {re-frame/re-frame {:mvn/version "1.4.2"}}
 :aliases
 {:cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}
           :main-opts ["-m" "cljfmt.main"]}
  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.12.15"}}
              :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
